@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

h1 {
    padding: 40px 0;
}
#projects-index {
    h1 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    }
    td {
        vertical-align: middle !important;
    }
    th {
        vertical-align: middle!important;
    }
    .logo-container {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
        }
    }
    .desc {
        height: 142px;
        overflow-y: auto;
    }
    .table .btn {
        text-decoration: none;
        margin: 1.8px 0;
    }
}
#projects-show {
    overflow: hidden;
    h1 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    }

    #project-prev {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: start;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
#projects-create {
    h1 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    }
    .form-group {
        padding: 20px 0;
        margin: 0 auto;
        input {
            text-align: center;
        }
        label {
            font-size: 1.6em;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
        }
    }
}
